* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  background: #faf9f9; }

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .wrap header {
    width: 100%;
    height: 50px;
    background: url("../images/1.jpg") no-repeat;
    background-size: 100% 100%;
    display: flex;
    text-align: center;
    line-height: 50px;
    align-items: center;
    justify-content: center; }
    .wrap header .title {
      text-align: center;
      line-height: 50px;
      flex: 1;
      color: #ffffff;
      font-size: 20px; }
    .wrap header .img {
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 20px;
      top: 10px; }
      .wrap header .img img {
        width: 100%; }
  .wrap .section {
    width: 100%;
    height: 100%;
    flex: 1;
    overflow: auto;
    margin-bottom: 100px; }
    .wrap .section main {
      width: 100%;
      height: 100%; }
      .wrap .section main .banner {
        width: 100%; }
        .wrap .section main .banner .pic {
          width: 100%; }
          .wrap .section main .banner .pic img {
            height: 150px;
            width: 100%; }
      .wrap .section main .con {
        width: 100%; }
        .wrap .section main .con .tit {
          line-height: 70px;
          background: url("../images/2.png") no-repeat;
          background-position: 20px 20px;
          background-size: 15px 30px;
          text-indent: 2.5em; }
        .wrap .section main .con .dl {
          width: 100%;
          display: flex;
          border-top: 1px solid #bfbfbf;
          border-bottom: 1px solid #bfbfbf; }
          .wrap .section main .con .dl dl {
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-right: 1px solid #bfbfbf;
            padding-top: 10px; }
            .wrap .section main .con .dl dl dt {
              width: 30px;
              height: 30px; }
              .wrap .section main .con .dl dl dt img {
                width: 100%; }
            .wrap .section main .con .dl dl dd {
              line-height: 50px; }
        .wrap .section main .con .dl:nth-child(2) {
          border-bottom: none; }
      .wrap .section main .con2 {
        width: 100%;
        border-top: 1px solid #bfbfbf;
        margin-top: 20px; }
        .wrap .section main .con2 .tit {
          line-height: 70px;
          background: url("../images/2.png") no-repeat;
          background-position: 20px 20px;
          background-size: 15px 30px;
          text-indent: 2.5em; }
        .wrap .section main .con2 .dl {
          width: 100%;
          display: flex;
          border-top: 1px solid #bfbfbf;
          border-bottom: 1px solid #bfbfbf;
          padding-top: 10px; }
          .wrap .section main .con2 .dl dl {
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-right: 1px solid #bfbfbf; }
            .wrap .section main .con2 .dl dl dt {
              width: 30px;
              height: 30px; }
              .wrap .section main .con2 .dl dl dt img {
                width: 100%; }
            .wrap .section main .con2 .dl dl dd {
              line-height: 50px; }
  .wrap footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 90px;
    display: flex;
    background: #ffffff;
    justify-content: space-around;
    align-items: center;
    text-align: center; }
    .wrap footer dt {
      width: 30px;
      height: 40px; }
      .wrap footer dt img {
        width: 100%; }
    .wrap footer dd {
      line-height: 33px; }

/*# sourceMappingURL=style.css.map */
